@page
@model UnRevGensModel
@{
    ViewData["Title"] = "Un-Revived Generators";
}

<div class="row">
    <div class="col-md-12">
        @if (Model.GenOutages.Count > 0)
        {
            <table class="table table-bordered table-hover" id="display_table">
                <thead class="table_header">
                    <tr>
                        <th>Name</th>
                        <th>Outage Time</th>
                        <th>Expected Time</th>
                        <th>Remarks</th>
                        <th>Owners</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int genIter = 0; genIter < Model.GenOutages.Count; genIter++)
                    {
                        <tr>
                            <td>
                                <input asp-for="GenOutages[genIter].RTOutageId" type="hidden" class="form-control" />
                                <input asp-for="GenOutages[genIter].ElementId" type="hidden" class="form-control" />
                                <textarea asp-for="GenOutages[genIter].ElementName" class="form-control" readonly></textarea>
                            </td>
                            <td>
                                <input asp-for="GenOutages[genIter].OutageDateTime" class="form-control" readonly />
                            </td>
                            <td>
                                <input asp-for="GenOutages[genIter].ExpectedRevivalDateTime" class="form-control datetimepicker" />
                            </td>
                            <td>
                                <textarea class="form-control"></textarea>
                            </td>
                            <td>
                                <textarea asp-for="GenOutages[genIter].ElementOwners" class="form-control" readonly></textarea>
                            </td>
                            <td>
                                <textarea asp-for="GenOutages[genIter].Reason" class="form-control" readonly></textarea>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts{
<link rel="stylesheet" type="text/css" href="~/lib/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/fixedHeader.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/node_modules/flatpickr/dist/flatpickr.min.css">
<script src="~/lib/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/lib/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/lib/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/lib/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/lib/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/lib/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/lib/node_modules/jszip/dist/jszip.min.js"></script>
<script src="~/lib/node_modules/pdfmake/build/pdfmake.min.js"></script>
<script src="~/lib/node_modules/pdfmake/build/vfs_fonts.js"></script>
<script src="~/lib/node_modules/flatpickr/dist/flatpickr.min.js"></script>
<style>

    th {
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    textarea.form-control {
        height: 2em;
    }

    .table tbody tr td {
        padding: 0;
    }

    .row_timestamp {
        font-size: 1em;
        color: #808080;
    }
</style>
<script>
        $(".datetimepicker").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
        $(document).ready(function () {
        var table = $('#display_table').DataTable({
                fixedColumns: true,
                fixedHeader: true,
                "lengthMenu": [[10, 20, -1], [10, 20, "All"]],
                "pageLength": 10,
                dom: 'Bfrtip',
                buttons: ['pageLength', 'copy', 'pdf', 'print']
            });
    });
</script>
}