@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter coal shortage related information in this portal for reporting purposes of WRLDC</p>
</div>
