@page
@addTagHelper *, DNTCaptcha.Core

@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <dnt-captcha asp-captcha-generator-max="99"
                                 asp-captcha-generator-min="20"
                                 asp-captcha-generator-language="English"
                                 asp-captcha-generator-display-mode="SumOfTwoNumbers"
                                 asp-use-relative-urls="true"
                                 asp-placeholder="Security code as a number"
                                 asp-validation-error-message="Please enter the security code as a number."
                                 asp-font-name="Tahoma"
                                 asp-font-size="60"
                                 asp-fore-color="#333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="text-box single-line form-control col-md-4"
                                 asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="glyphicon glyphicon-refresh btn-sm"
                                 asp-use-noise="false" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
