@using Microsoft.AspNetCore.Identity
@using CoalShortagePortal.Core
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserManage" asp-action="Index">Users</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Generators
            </a>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="CoalShortageGens" asp-action="Index">Coal Shortage</a>
                <hr />
                <a class="nav-link text-dark" asp-area="" asp-controller="OtherReasonGens" asp-action="Index">Other Reason</a>
                <hr />
                <a class="nav-link text-dark" asp-area="" asp-controller="CriticalCoalGens" asp-action="Index">Critical Coal</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                View Data
            </a>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" asp-page="/ViewData/CoalShortage">Coal Shortage</a>
                <hr />
                <a class="nav-link text-dark" asp-page="/ViewData/OtherReasons">Other Reasons</a>
                <hr />
                <a class="nav-link text-dark" asp-page="/ViewData/CriticalCoal">Critical Coal</a>
            </div>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CoalData" asp-action="Index">CoalData</a>
    </li>
}

